
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

header{
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	color: E3293D;
	font-family: 'Bowlby One SC', cursive;
	font-size: 80px;
	text-align: left;
}

nav {
	padding: 30px;
}

ul {
	display: inline;
	padding: 10px;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: lighter;
	text-transform: uppercase
}

li {
    display: inline;
    list-style-type: none;
}

.menu {
	padding: 1em;
}

img {
	height: auto;
	width: auto; 
	display: inline;
}

#two_column {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 32%;
}

#right {
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 60%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#slogan {
	color: #FFB018;
	font-family: 'Anton', sans-serif;
	font-size: 80px;
	font-weight: bolder;
	text-align: left;
	float: left;
	padding: 30px;
}

#intro {
	color: #FFB018;
	font-family: Roboto, sans-serif;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
	padding: 1em;
}

#cities {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
}

#drpic {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 32%;
}

#drblog {
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 60%;
}

#mxpic {
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 60%;
}

#mxblog {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 32%;
}

#irepic {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 32%;
}

#ireblog {
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 60%;
}

#amspic {
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 60%;
}

#amsblog {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 32%;
}

.blogs:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
main {
	border: 1px black solid;
	padding: 20 px;
}





h2 {
	color: black;
    font-family: 'Bowlby One SC', cursive;	
    font-size: 100px;
    font-weight: bolder;
	text-transform: uppercase;
	text-align:center;
	padding: 100px;
}

span {
	color: black;
	font-family: 'Bowlby One SC', cursive;
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
}

article{
	border: 1px black solid;
	padding: 20 px;
}

body {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	font-weight: lighter;
	text-align: center;
	background-color: white;
}

h3 {
	color: black;
    font-family: 'Anton', sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align:center;

}

footer {
	border: 1px black solid;
	padding: 20 px;
}

.wrapper {
	padding: 20px;
}

