
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');

header{
	background-color: #FFFFFF;
	padding: 20px;
	clear: both;
	border-bottom: 1px #BAC2BC solid;
}

#topbar {
	padding 20px;
}

#name {
	padding:20px;
	float: left;
	width: 58%;
}

#navbar {
	padding: 20px;
	float: right;
	width: 36%;
}

.topbar:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1 {
	color: #E32D0F;
	font-family: 'Uncial Antiqua', cursive;
	font-size: 80px;
	text-align: left;
	padding: 1em;
	width: 50%;
}


ul {
	display: inline;
	color: #393E46;
	font-family: 'Abel', sans-serif;
	font-size: 26px;
	font-weight: bold;
	width: 50%;
}

li {
    display: inline;
    list-style-type: none;
    float: left;
}

.menu {
	padding: 2em;
}

.luggage {
    background-image: url(../images/luggage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    clear: all;
}​

main {
	background-color: #EEFFE8
}

#two_column {
	padding: 1em;
}

#left {
	background-color: #FFE8BC;
	padding: 20px;
	float: left;
	width: 30%;
}

#slogan {
	color: black;
	font-family: 'Uncial Antiqua', cursive;
	font-size: 120px;
	font-weight: bolder;
	text-align: left;
	float: left;
	padding: 30px;
	clear: all;
}

#intro {
	color: black;
	font-family: 'Abel', sans-serif;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
	padding: 1em;
}

#right {
	padding: 3em;
	float: right;
	width: 58%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

h2 {
	background-color: #ED674E; 
	color: black;
	font-family: 'Uncial Antiqua', cursive;
    font-size: 100px;
    font-weight: bolder;
	text-transform: uppercase;
	text-align:center;
	padding: 2em;
}

#travelinspo {
	padding: 20px;
}

#citylife {
	border: 1px grey solid;
	padding: 1em;
	float: left;
	width: 55%;
}

#latesttravel {
	background-color: #8DA7C2;
	border: 1px grey solid;
	padding: 2em;
	float: right;
	width: 30%;
	text-align: center;
}

#latestfood {
	background-color: #8DA7C2;
	border: 1px grey solid;
	padding: 1em;
	float: left;
	width: 30%;
	text-align: center;
}

#market {
	border: 1px grey solid;
	padding: 1em;
	float: right;
	width: 60%;
}


#manatee {
	border: 1px grey solid;
	padding: 1em;
	float: left;
	width: 56%;
}

#latestphotos {
	background-color: #8DA7C2;
	border: 1px grey solid;
	padding: 1em;
	float: right;
	width: 34%;
	text-align: center;
}

.blogs1:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}


main {
	padding: 20px;
}


span {
	color: #000000;
	font-family: 'Abel', sans-serif;
	font-size: 100px;
	font-weight: lighter;
	text-align: center;
}

#latestbold {
	font-weight: bolder;
}

body {
	color: black;
	font-family: 'Abel', sans-serif;
	font-size: 26px;
	font-weight: lighter;
	text-align: center;
}

#follow {
	background-color: #ED674E; 
	padding: 2em;	
}

h3 {
	color: #000000;
	font-family: 'Abel', sans-serif;
	font-size: 100px;
	font-weight: bold;
	text-align:center;
}

footer {
	border: 1px black solid;
	padding: 20px;
}

.wrapper {
	padding: 20px;
}

