
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

h1 {
	color: black;
	font-family: 'Abril Fatface', cursive;
	font-size: 80px;
	text-align: left;		
}

ul {
	padding: 50px;
    background: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	font-weight: medium;
}

li {
    display: inline;
}

img {
	height: auto;
	width: auto; 
}

#slogan {
	color: black;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	text-align: left;
}

h2 {
	color: black;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	text-align:center;

}



body {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	font-weight: lighter;
	text-align:center;
	background-color: white;
}



