
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');

header{

}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding 20px;
}

#left {
	background-color: #E582a2;
	border: 1px black solid;
	padding:20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

#tab{
	float: left;
	display: inline;
	padding: 1em;
}

#dare {
	background-image: url("../images/road.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h2{

}

h3{

}

footer{

}