
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');

header{

}

#name{
	width: 20%;
}

#menu{
	width: 70%;
}

#tab{
	float: left;
	display: inline;
	padding: 1em;
}

#dare {
	background-image: url("../images/road.jpg");
	background-size: 980px;
	margin: 3em;
}

h2{

}

h3{

}

footer{

}