
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Unica+One');

header{
	padding: 20px;
	clear: both;
	background-color: #FFFFFF;
}

#home {
	background-color: #7DC3C1;
}

#topbar {
	margin: 1em;
}

#name {
	float: left;
	width: 56%;
}

#navbar {
	float: right;
	width: 40%;
}

.topbar:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 48px;
	text-align: left;
}

h2 {
	font-family: 'Unica One', cursive;
	font-size: 46px;
	text-align: left;
}


ul {
	display: inline;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	color: #3B3B3D;
}

li {
    display: inline;
    list-style-type: none;
    float: left;
}

.menu {
	padding: 1em;
}

#two_column {
	padding: 2em;
}

#left {
	padding: 1em;
	float: left;
	width: 30%;
}

#slogan {
	color: #DBEEE7;
	font-family: 'Unica One', cursive;
	font-size: 80px;
	font-weight: bolder;
	text-align: left;
}

#slogan2 {
	background-color: #3B3B3D;
}

#intro {
	color: #3B3B3D;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
}

#right {
	padding: 1em;
	float: right;
	width: 60%;
}

#adventure{
	max-width: 960px;
	height: auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}


body {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	text-align: center;
	background-image: url('../images/blackwhite.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#latest {
	background-color: #3B3B3D;
	color:#DBEEE7;
	padding: 1em;
}

#roof {
	max-width: 480px;
	height: auto;
	margin: 20px;
}

#makers {
	max-width: 480px;
	height: auto;
	margin: 20px;
}

#neon{
	max-width: 480px;
	height: auto;
	margin: 20px;
}

.column {
	float: left;
	width: 30%
	padding: 5px;
	background-color: #DBEEE7;
}

.row:after {
	content: "";
	clear: both;
	display: table;
}

#hash {
	font-family: 'Unica One', cursive;
	font-size: 30px;
	text-align: left;
	color: #3B3B3D;
	background-color: #7DC3C1;
}

h3 {
	font-family: 'Unica One', cursive;
	font-size: 80px;
	text-align:center;
}

h4 {
	font-family: 'Unica One', cursive;
	font-size: 60px;
	text-align: center;
}

.aboutme:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: auto;
}

#leftabout {
	padding: 2em;
	float: left;
	width: 20%;
	text-align: left;

}

#profile {
	max-width: 480px;
	height: auto;
}

#rightabout {
	padding: 2em;
	float: right;
	width: 60%;
}



