
@import url('https://fonts.googleapis.com/css?family=Lato|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

header{
	padding: 20px;
	clear: both;
}

#topbar {
	margin: 1em;
}

#name {
	float: left;
	width: 56%;
}

#navbar {
	float: right;
	width: 40%;
}

.topbar:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 60px;
	text-align: left;
}

h2 {
	font-family: 'Rock Salt', cursive;
	font-size: 48px;
	text-align: left;
}


ul {
	display: inline;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}

li {
    display: inline;
    list-style-type: none;
    float: left;
}

.menu {
	padding: 1em;
}

#two_column {
	padding: 1em;
	background-color: #3B3B3D;
}

#left {
	padding: 2em;
	float: left;
	width: 20%;
}

#slogan {
	color: #7DC3C1;
	font-family: 'Staatliches', cursive;
	font-size: 60px;
	font-weight: bolder;
	text-align: left;
}

#intro {
	color: #DBEEE7;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
}

#right {
	padding: 2em;
	float: right;
	width: 60%;
}

#adventure{
	max-width: 960px;
	height: auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}


body {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	text-align: left;
}

#roof {
	max-width: 480px;
	height: auto;
}

#makers {
	max-width: 480px;
	height: auto;
}

#neon{
	max-width: 480px;
	height: auto;
}


h3 {
	font-family: 'Staatliches', cursive;
	font-size: 80px;
	text-align:center;
}

.aboutme:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#leftabout {
	padding: 2em;
	float: left;
	width: 20%;

}

#profile {
	max-width: 480px;
	height: auto;
}

#rightabout {
	padding: 2em;
	float: right;
	width: 60%;
}



