h1 {
	color: rgb(232,107,107);
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

img {
	height: auto;
	width: auto; 
}

h2 {
	color: rgb(255,149,130);
	font-family: Avenir, sans-serif;
	font-size: 20px;
	text-align:center;

}



body {
	color: rgb(255,149,130);
	font-family: Avenir, sans-serif;
	font-size: 14px;
	text-align:center;
	background-image: url("images/elephant.jpg");
	background-size: cover;
	background-color: white;
}

ul {
	color: rgb(232,144,107);
	text-align: left;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
}

#slogan {
	color: rgb(232,107,107);
	font-style: italic;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}